<div id="container">
  <header>
    <button *ngIf="!largeScreen" class="uk-navbar-toggle" uk-navbar-toggle-icon id="toggle-button"
      (click)="toggleSidebar()"></button>
    <div id="header-content">
      <h2 id="header-heading">Manage {{ currentPanel }}</h2>
      <div *ngIf="currentPanel == 'Stock'" id="header-end">
        <button class="secondary-btn" uk-toggle="target: #item-modal">
          <i class="fa-solid fa-plus"></i> Add Item
        </button>
      </div>
      <div *ngIf="currentPanel == 'Utilities'" id="header-end">
        <button class="secondary-btn" uk-toggle="target: #utility-modal">
          <i class="fa-solid fa-plus"></i> Add Utility
        </button>
      </div>
      <div *ngIf="currentPanel == 'Tasks'" id="header-end">
        <button class="secondary-btn" uk-toggle="target: #task-modal">
          <i class="fa-solid fa-plus"></i> Add Task
        </button>
      </div>
      <!-- <div *ngIf="currentPanel == 'Recipes' && !showingRecipe" id="header-end">
              <button class="secondary-btn" uk-toggle="target: #recipe-modal">
                <i class="fa-solid fa-plus"></i> Add Recipe
              </button>
            </div> -->
      <div *ngIf="currentPanel == 'Employees' && !showingEmployee" id="header-end">
        <div class="search-box">
          <input type="text" class="admin-search" id="employee-search-input" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <button class="secondary-btn" uk-toggle="target: #employee-modal">
          <i class="fa-solid fa-plus"></i> Add Employee
        </button>
      </div>
      <div *ngIf="currentPanel == 'Customers' && !showingCustomer" id="header-end">
        <div class="search-box">
          <input type="text" class="admin-search" id="customer-search-input" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <button class="secondary-btn" uk-toggle="target: #customer-modal">
          <i class="fa-solid fa-plus"></i> Add Customer
        </button>
      </div>
    </div>
  </header>
  <div id="wrapper" (window:resize)="onWindowResize()">
    <div [style]="largeScreen || showSidebar ? '' : 'display: none'" id="sidebar-container">
      <aside id="sidebar">
        <ul id="sidebar-ul">
          <li>
            <a routerLink="/manager/dashboard" routerLinkActive="active" class="sidebar-li-a"
              (click)="toggleSidebar()"><i class="fa-solid fa-house"></i><span class="sidebar-text">Dashboard</span></a>
          </li>
          <li>
            <a routerLink="/manager/stock" routerLinkActive="active" class="sidebar-li-a" (click)="toggleSidebar()"><i
                class="fa-solid fa-boxes-stacked"></i><span class="sidebar-text">Stock</span></a>
          </li>
          <li>
            <a routerLink="/manager/utilities" routerLinkActive="active" class="sidebar-li-a"
              (click)="toggleSidebar()"><i class="fa-solid fa-fire-flame-simple"></i><span
                class="sidebar-text">Utilities</span></a>
          </li>
          <li>
            <a routerLink="/manager/tasks" routerLinkActive="active" class="sidebar-li-a" (click)="toggleSidebar()"><i
                class="fa-solid fa-list-check"></i><span class="sidebar-text">Tasks</span></a>
          </li>
          <li>
            <a routerLink="/manager/recipes" routerLinkActive="active" class="sidebar-li-a" (click)="toggleSidebar()"><i
                class="fa-solid fa-bowl-food"></i><span class="sidebar-text">Recipes</span></a>
          </li>
          <li>
            <a routerLink="/manager/employees" routerLinkActive="active" class="sidebar-li-a"
              (click)="toggleSidebar()"><i class="fa-solid fa-user"></i><span class="sidebar-text">Employees</span></a>
          </li>
          <li>
            <a routerLink="/manager/customers" routerLinkActive="active" class="sidebar-li-a"
              (click)="toggleSidebar()"><i class="fa-solid fa-users"></i><span class="sidebar-text">Customers</span></a>
          </li>
        </ul>
      </aside>
    </div>
    <main (click)="showSidebar && toggleSidebar()">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>