<div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow">
    <div class="list-card-image">
        <div class="member-plan position-absolute">
            <span class="badge badge-dark">{{ categoryName }}</span>
        </div>
        <div class="favourite-heart text-danger position-absolute">
            <img [src]="vegetarian ? 'assets/img/icons/veg.png' : 'assets/img/icons/nonveg.png'" class="veg-dot-ss"
                style="background-color: white" />
        </div>
        <div class="uk-inline-clip uk-transition-toggle">
            <img [src]="images[0]" class="img-fluid item-img" loading="lazy" />
            <img [src]="images[1]" class="img-fluid item-img uk-transition-scale-up uk-position-cover" loading="lazy" />
        </div>
    </div>
    <div class="p-3 position-relative">
        <div class="list-card-body">
            <div class="dish-contents d-flex">
                <div class="dishHead">
                    <div class="name">
                        <h6>
                            <div class="text-black item-nm" (click)="showDetailTrigger()">
                                {{ name }}
                            </div>
                        </h6>
                    </div>
                    <div class="pricing">
                        <p class="text-gray mb-0 time" *ngIf="isNumber(price)">
                            <span>
                                ₹ {{ price }}/-
                            </span>
                        </p>
                        <div *ngIf="!isNumber(price)">
                            <button (click)="fullSize=false" [class]="!fullSize ? 'active' : ''">Half ₹ {{price.halfPlate}}</button>
                            <button (click)="fullSize=true" [class]="fullSize ? 'active' : ''">Full ₹ {{price.fullPlate}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 pl-0 pr-0">
                    <p class="small mb-3 text-desc">
                        {{ description }}
                    </p>
                </div>

                <div class="col-12 pl-0 pr-0 d-flex justify-content-between">
                    <app-product-quantity [quantity]="quantity" (cartQuantity)="cartQuantityCheck($event)">
                    </app-product-quantity>
                    <button class="btn btn-primary btn-sm w-50 btn-block btn-small" (click)="addToCartTrigger()">
                        Add To Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>