section {
  padding: 1em;

  h3 {
    color: var(--color-two);
    font-weight: 500;
    font-size: var(--medium);
    margin-bottom: 0.5em;
  }

  #quick-links {
    background-color: var(--color-two);
    padding: 0.75em;
    border-radius: 7px;
    box-shadow: var(--normal-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      color: var(--color-two-contrast);
      font-size: var(--xsmall);
      margin: 0 0.5em 0 0;
    }

    button {
      color: var(--color-two);
      background-color: var(--color-two-contrast);
      border: none;
      outline: none;
      font-size: var(--xsmall);
      padding: 0.25em 0.4em;
      border-radius: 7px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover,
      &:focus {
        filter: brightness(0.9);
      }
    }

    #buttons {
      display: flex;
      margin: 0 0.5em 0 0;

      button {
        color: var(--color-two-contrast);
        background: transparent;
        margin-left: 0.25em;
      }
    }
  }

  #charts {
    display: flex;
    align-items: center;
    margin: 1em 0;

    #recipe-graph {
      width: 70% !important;
      height: unset !important;
    }

    #stock-pie {
      width: 30% !important;
      height: unset !important;
    }
  }

  @media (max-width: 768px) {
    #quick-links {
      display: none;
    }

    #charts {
      flex-direction: column;

      #recipe-graph {
        width: 80% !important;
        margin-bottom: 0.5em;
      }

      #stock-pie {
        width: 60% !important;
      }
    }
  }

  @media (max-width: 500px) {
    #charts {
      #recipe-graph {
        height: 150px !important;
      }

      #stock-pie {
        width: 80% !important;
      }
    }
  }

  #panels {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .panel {
      width: 30%;
      margin: 0.5em;
      padding: 1em 1.5em;
      box-shadow: var(--normal-shadow);
      background-color: var(--color-two);
      border-radius: 10px;
      transition: all 0.5s;

      &:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }

      @media (max-width: 850px) {
        width: 45%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      h4,
      p {
        color: var(--color-two-contrast);
        margin: 0;
      }

      h4 {
        font-size: var(--small);
        font-weight: 700;
      }

      p {
        font-size: var(--xsmall);
      }

      button {
        margin-top: 1em;
        font-size: var(--xxsmall);
        color: var(--color-two);
        background-color: var(--color-two-contrast);
      }
    }
  }
}
