form {
  #photosCollectionGrid{
    display: grid;
  }
  #photosCollectionGrid > img{
    width: 100px;
    height: auto;
  }
  .recipe-form-box {
    margin-top: 1em;
    label {
      color: var(--color-two);
      font-weight: 500;
      padding-left: 0.5em;
    }

    input {
      width: 100%;
    }

    select {
      width: 100%;
    }

    #season-box {
      display: flex;
      align-items: center;

      .from-to {
        color: #000;
        font-family: var(--font-two);
        font-size: var(--small);
        margin: 0 0.5em;
      }
    }

    ::ng-deep {
      .ingredient-input-container {
        display: flex;
        justify-content: center;
        color: var(--color-two);
        font-size: var(--small);
        font-family: var(--font-three);

        .ingredient-select {
          width: 70%;
        }

        .ingredient-quantity {
          margin: 0 0.5em;
          width: 20%;
        }

        .ingredient-unit {
          width: 10%;
          align-self: center;
        }

        i {
          margin-left: 1em;
          cursor: pointer;
          color: var(--color-two);
          font-size: 1.5rem;
          align-self: center;
        }
      }
    }

    #add-ingredient,
    .add-instruction {
      font-size: var(--xsmall);
      background: transparent;
      color: var(--color-two);
      width: fit-content;
      font-family: var(--font-three);
      border: none;
      cursor: pointer;

      &:hover {
        box-shadow: none;
        opacity: 0.7;
      }
    }

    .time-input-box {
      display: flex;

      input {
        margin-right: 0.5em;
      }
    }
    
  }

  button {
    width: 100%;
    padding: 0.5em 1em;
    font-size: var(--small);
    margin-top: 1em;
  }
}
.ingredientContainer{
  display: flex;
  border: none;
  column-gap: 20px;
  span{
    font-size: 20px;
    font-weight: bold;
  }
  i{
    color:var(--color-two)
  }
}